name: astro

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [deploy]
  # 手动触发
  workflow_dispatch:

# Allow this job to clone the repo and create a page deployment
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4

      - name: Clone Post
        uses: GuillaumeFalourd/clone-github-repo-action@v2.1
        with:
          owner: 'wxydejoy'
          repository: 'post'
          access-token: ${{ secrets.CLONE }}
          
      - name: 删除_posts文件夹下的.git文件等
        run: |
          mkdir -p src/content/posts/ 
          mv post/* src/content/posts/
          rm -rf src/content/posts/.git
          rm -rf src/content/posts/.github
          find src/content/posts -type f -name '*.md' -exec sed -i 's/date: /published: /g' {} +
          find src/content/posts -type f -name '*.md' -exec sed -i 's/cover: /image: /g' {} +
          find src/content/posts -type f -name '*.md' -exec sed -i 's/ [0-9]\{2\}:[0-9]\{2\}:[0-9]\{2\}//g' {} +
          find src/content/posts -type f -name '*.md' -exec sed -i 's/categories: /category: /g' {} +

    
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          cache: true

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build the site
        run: pnpm astro build


      - name: Deploy to GitHub Pages
        id: deployment
        uses: peaceiris/actions-gh-pages@v4
        with: 
          # 用于推送的个人访问令牌 (Personal Access Token)
          github_token: ${{ secrets.CLONE }}
          # 包含编译后静态文件的目录名，根据你的项目修改，如 'dist', 'public', 'out' 等
          publish_dir: ./dist
          # 目标分支的名称，例如 'gh-pages' 或你指定的任何分支
          publish_branch: public
          # 可选：强制推送，适用于目标分支历史与当前分支不一致的情况
          force_orphan: true
          cname: undf.top
          keep_files: true
